<!DOCTYPE html>
<html>
<head>
  <title>IAU Minor Planet Center</title>
  <%= render :partial => "pages/dependencies" %>
</head>
  <%= render :partial => "pages/header" %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= yield %>
  <%= render :partial => "pages/footer" %>
</html>
